<rtms-layout sidebarDisabled="true">
  <ng-container>
    <!-- Applying the mat-tyography class adds styles for native elements. -->
    <section class="mat-typography title-group">
      <h4>
        This is a platform that combines several useful tools to help in running a retail store such as: inventory,
        customer, order, payment and shipment management.
      </h4>
      <mat-divider></mat-divider>
    </section>

    <!-- Angular material cards -->
    <div class="productCards">
      <mat-grid-list cols="4" rowHeight="200px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">1</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">2</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">3</mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">4</mat-grid-tile>
      </mat-grid-list>
    </div>
  </ng-container>
</rtms-layout>
